{{#each posts as |post| }}
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-md-8 mt-3 mb-3">
                <h5 class="card-header">{{post.post_title}}</h5>
                <p class="card-text">{{post.post_text}}</p>
                <p>{{post.post_date}}</p>
            </div>
        </div>
    </div>
{{/each}}