{{!-- edit post form --}}
<form>
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="title2">Edit Post</h2>

            {{!-- title and text --}}
            <div class="mb-3">
                <label for="edit-title" class="title-label">Title:</label>
                <textarea class="form-control" name="edit-title" id="edit-title"></textarea>
            </div>
            <div class="mb-3">
                <label for="edit-content" class="content-label">Text:</label>
                <textarea class="form-control" name="edit-content" id="edit-content"></textarea>
            </div>

            {{!-- save button --}}
            <button type="submit" id="save-post" class="btn btn-light col-md-6">+Save</button></a>

            {{!-- delete post button --}}
            <button type="submit" id="delete-post" class="btn btn-light col-md-6">Delete post</button>
        </div>
    </div>
</form>

<script src="../public/js/edit-post.js"></script>
<script src="../public/js/delete-post.js"></script>