{{!-- login form --}}
<form>
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="title2">Log In</h2>

             {{!--username and password  --}}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
            </div>

            {{!-- login or signup --}}
            <button type="submit" class="btn btn-light col-md-6" id="login">Login</button>
            <a class="btn btn-light col-md-6" href="/signup">Sign Up</a>
        </div>
    </div>
</form>

<script src="../public/js/login.js"></script>