<form>
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="title2">Sign Up</h2>
            
            <div class="mb-3">
                <label for="username-signup" class="form-label">Username</label>
                <input type="text" class="form-control" id="username-signup">
            </div>
            <div class="mb-3">
                <label for="firstname-signup" class="form-label">First Name:</label>
                <input type="text" class="form-control" id="firstname-signup">
            </div>
            <div class="mb-3">
                <label for="lastname-signup" class="form-label">Last Name:</label>
                <input type="text" class="form-control" id="lastname-signup">
            </div>
            <div class="mb-3">
                <label for="email-signup" class="form-label">Email:</label>
                <input type="text" class="form-control" id="email-signup">
            </div>
            <div class="mb-3">
                <label for="password-signup" class="form-label">Password</label>
                <input type="password" class="form-control" id="password-signup">
            </div>

            <button type="submit" class="btn btn-light col-md-6" id="signup">Sign Up</button>
        </div>
    </div>
</form>

<script src="/public/js/logout.js"></script>