{{!-- single post page --}}
<div class="container">
    <div class="row justify-content-center">

        <!-- posts -->
        {{#each posts as |post| }}
            {{> posts}}
        {{/each}}

        <!-- comment text -->
        <div class="mb-3">
            <label for="comment" class="comment-label">Comment</label>
            <textarea class="form-control" name="comment" id="comment"></textarea>
        </div>

        {{!-- add comment button --}}
        <button type="submit" id="add-comment" class="btn btn-light col-md-6">+Comment</button>
        {{!-- delete post button --}}
        <button type="submit" id="delete-post" class="btn btn-light col-md-6">Delete post</button>
    </div>
</div>

<script src="../public/js/add-comment.js"></script>
<script src="../public/js/delete-post.js"></script>